.skwb24_loyaltyprogram_menu_icon{
    background: url(icons/commerce.loyaltyprogram/skwb24_loyaltyprogram_small_icon.png) 4px 2px no-repeat;
}

.skwb24-item-hint {
    border-radius: 50%;
    border: 1px solid;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    background: #3498db;
}


span[data-hint] {
    border-radius: 50%;
    border: 1px solid;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    background: #3498db;
}

.overdue_delay_row{display:none;}
#commerce_loyal_profiles_result_div .adm-selectall-wrap{display:none;}

.groups .type_fields{display:none;}

input[type="number"] {
    width: 80px;
    font-size: 13px;
    height: 25px;
    margin: 0;
    padding: 0 5px;
    background: #fff none repeat scroll 0 0;
    border-color: #87919c #959ea9 #9ea7b1;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 2px -1px rgba(180, 188, 191, 0.7) inset;
    color: #000;
    display: inline-block;
    outline: medium none;
	vertical-align: middle;
}

.data_rest{margin-right: 10px;}

.headerInfoBlock {margin-bottom: 20px; padding: 15px; border: 2px dashed #2980b9; background: rgba(41, 128, 185, 0.1); font-size: 15px; color: #34495e;}
	.headerInfoBlock div {margin: 5px;}
		.headerInfoBlock div.dateBlock {}
			.headerInfoBlock div.dateBlock span {font-weight: bold;}
		.headerInfoBlock div.versionBlock {}
			.headerInfoBlock div.versionBlock span {font-weight: bold;}
			.headerInfoBlock div.versionBlock a.versionNew {}
		.headerInfoBlock div.buttonsBlock {margin-top: 20px;}
		.headerInfoBlock div a.infoButton {border-radius: 3px; display: inline-block; height: 15px; padding: 10px 20px; position: relative; margin-right: 15px; text-decoration: none; line-height: 16px; color: #ffffff; font-size: 16px; font-weight: bold; text-shadow: 0 -1px 0 rgba(106,109,111,0.3);}
			.headerInfoBlock div a.infoButton.question {border: 1px solid #c0392b !important; background: #c0392b !important;}
				.headerInfoBlock div a.infoButton.question:hover {background: #e74c3c !important;}
			.headerInfoBlock div a.infoButton.documentation {border: 1px solid #2980b9 !important; background: #2980b9 !important;}
				.headerInfoBlock div a.infoButton.documentation:hover {background: #3498db !important;}
			.headerInfoBlock div a.infoButton.review {border: 1px solid #27ae60 !important; background: #27ae60 !important;}
                .headerInfoBlock div a.infoButton.review:hover {background: #2ecc71 !important;}

.newRefLigament {
	margin-bottom: 20px;
    display: inline-block;
    background: #f5f9f9;
    padding: 10px;
	border: 1px solid #afbbbf;
	border-radius: 5px;
}

.newRefLigament h4 {
	margin: 10px 0px;
    font-size: 16px;
}
				
form[name=get_user_id]{
    
}
form[name=get_user_id] .title{
    display: inline-block;
    width:160px;
}

form[name=get_user_id]>div{
    margin-bottom: 5px;
}

.loyalty_settings [name='ref_basket_rules[]']{
	margin-bottom:7px;
}
.loyalty_settings .rule_link, .loyalty_settings .rule_link_desc, .loyalty_settings .rule_link_xml{margin-left:10px;}
.loyalty_settings .delete_coupon_rule{color:#c0392b;}
.loyalty_settings a[href^='javascript']{text-decoration:none; border-bottom: 1px dashed;}

.loyalty_settings .descriptionArea{margin-bottom:20px;}
.loyalty_settings .descriptionArea label{padding:8px 8px 8px 0; display: inline-block; color:#999; font-weight:bold;}

.loyalty_settings .descriptionArea textarea{display:block; width:202px; height:100px; margin-bottom:8px;}
.loyalty_settings .sample_ref_link{color:#3498db; font-size:140%;}

.loyalty a[href^='javascript']{text-decoration-style: dashed;}

/* condtree */
.condition-container.registerbyRef{background: rgba(16, 172, 132, 0.2);}
.condition-container.registerbyParentRef{background: rgba(46, 134, 222, 0.2);}
.condition-container .swPeriodSticker{margin:0 0 10px -20px; text-align:right}
.condition-container .swPeriodSticker div{display: inline-block; background: rgba(255, 107, 107, 0.8); padding: 5px 10px; }

/*referral tree*/
.node{cursor: pointer;}
.overlay{background-color:#EEE;}
.node circle{fill: #fff; stroke: steelblue; stroke-width: 1.5px;}
.node circle.level1{stroke: #c23616; stroke-width: 2px;}
.node circle.level2{stroke: #1B1464; stroke-width: 1.5px;}
.node circle.level3{stroke: #0652DD; stroke-width: 1.5px;}
.node circle.level4{stroke: #009432; stroke-width: 1.5px;}
.node circle.level5{stroke: #F79F1F; stroke-width: 1px;}
.node text{font-size:10px; font-family:sans-serif;}

.link{fill: none; stroke: #ccc; stroke-width: 1.5px;}
.templink{fill: none; stroke: red; stroke-width: 3px;}
.ghostCircle.show{display:block;}
.ghostCircle, .activeDrag .ghostCircle{display: none;}

/*sample area*/
.loyalty_settings .example .sample,
.loyalty_settings .example .desc_sample{
	background:#eee;
	padding:10px 10px 0 10px;
}

/*developers*/
.developers {display: flex; flex-wrap: wrap; justify-content: left;}
	.developers article {flex: 0 0 20%; text-align: center;}
	.developers.document article {flex: 0 0 20%;}
		.developers article a {
			display: block;
			text-decoration: none;
			margin: 15px 15px 15px 0px;
			/*padding: 10px;*/
			transition: .3s;
			border: 3px solid #e3ecee;
			padding-bottom: 20px;
			position: relative;
		}
			.developers article a figure {
				padding: 0;
				margin: 0;
			}
		
		
		.developers article:hover a {
			border: 3px solid #fff;
		}
			.developers article.MoonPurple a {
				background: #4e54c8;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to top right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to top right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
			.developers article.AzurLane a {
				background: #7F7FD5;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to top right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to top right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
			.developers article.Alive a {
				background: #CB356B;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to top right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to top right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
			.developers article.UltraVoilet a {
				background: #654ea3;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to top right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to top right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
			.developers article.Ohhappiness a {
				background: #00b09b;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to top right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to top right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}
		.developers article a figure img {max-width: 100%;}
		.developers.document article a figure img {max-width: 100px; padding: 20px;}
		.developers article a header {color: #fff; font-size: 18px; margin-top: 10px;}
		.developers article a time {
			color: #fff;
			text-align: right;
			display: block;
			font-size: 16px;
			position: absolute;
			top: 0px;
			right: 0px;
			background: #8360c3;
			padding: 5px 10px;			
		}
		
	.developers.article article a {background: #8360c3;}
	.developers.video article a {background: #12c2e9;}


.condition-border a[id*="number_action_link"]{display:none;}

.actionLabel{position:absolute; top:-4px; left:-2px; z-index:1000; padding: 5px; color:#888;}

@media (max-width: 1600px){
	.developers article {flex: 0 0 33% !important;}
}
@media (max-width: 960px){
	.developers article {flex: 0 0 50% !important;}
}

/* ### MAIN ###*/
.sw24-input-multi-search{
	width: 100%;
	font-size: 18px;
}
.sw24-input-multi-search *{
	box-sizing: border-box;
}

.sw24-input-multi-search .ims_item{
	width: 100%;
	margin-bottom: 10px;
}
.sw24-input-multi-search .ims_item:last-child{
	margin-bottom: 0px;
}



/* ### SEARCH ### */
.sw24-input-multi-search .search{
	position: relative;
}
.sw24-input-multi-search .search .search_input{
	position: relative;
}
.sw24-input-multi-search .search .search_input input{
	width: 100%;
	height: 35px;
	padding: 5px 50px 5px 10px;
	font-size: 16px;
	outline: none;
}
.sw24-input-multi-search .search .search_input:after{
	content: "";
	display: flex;
	position: absolute;
	right: 15px;
	top: 0;
	width: 25px;
	height: 100%;
	opacity: 0;
	background: url("/bitrix/components/bitrix/main.ui.grid/templates/.default/images/loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	transition: opacity .15s linear;
}
.sw24-input-multi-search .search .search_input._load:after{
	opacity: 1;
}



/* ### DROPDOWN ### */
.sw24-input-multi-search .search .search_dropdown{
	border: 1px solid #3498db;
	border-top: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow-y: auto;
	padding: 10px 0;
	max-height: 200px;
	transition: all .15s linear;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
	background: white;
	font-size: 14px;
	visibility: hidden;
}
.sw24-input-multi-search .search .search_dropdown:hover,
.sw24-input-multi-search .search:focus-within .search_dropdown,
.sw24-input-multi-search .search .search_dropdown._active{
	opacity: 1;
	visibility: visible;
}
.sw24-input-multi-search .search .search_dropdown .search_dropdown_group .search_dropdown_group_name{
	font-weight: bold;
	padding: 5px 10px;
}
.sw24-input-multi-search .search .search_dropdown .search_dropdown_item{
	padding: 5px 10px 5px 25px;
	width: 100%;
	cursor: pointer;
}
.sw24-input-multi-search .search .search_dropdown .search_dropdown_item._disabled{
	color: #bfbfbf;
}
.sw24-input-multi-search .search .search_dropdown .search_dropdown_item:last-child{
	border-bottom: 0;
}
.sw24-input-multi-search .search .search_dropdown .search_dropdown_item:hover{
	background: #f2f2f2;
}
.sw24-input-multi-search .search .search_dropdown .search_dropdown_empty{
	padding: 5px 10px;
	color: #ded9d9;
	pointer-events: none;
}


/* input multisearch */
/* ### STORAGE ### */
.sw24-input-multi-search .storage {
	width: 100%;
	border: 1px solid #3498db;
	border-radius: 3px;
	padding: 10px;
}
.sw24-input-multi-search .storage .storage_title{
	width: 100%;
	font-size: 18px;
	padding-bottom: 10px;
}
.sw24-input-multi-search .storage .storage_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.sw24-input-multi-search .storage .storage_item{
	display: inline-flex;
	border: 1px solid #3498db;
	padding: 5px 10px 5px 20px;
	border-radius: 5px;
	margin-bottom: 5px;
	align-items: center;
	font-size: 14px;
	margin-right: 5px;
}
.sw24-input-multi-search .storage .storage_item:hover{
	background: #3498db;
	color: #fff;
}
.sw24-input-multi-search .storage .storage_item .item_name{
	cursor: pointer;
	color: #3498db;
}
.sw24-input-multi-search .storage .storage_item:hover .item_name{
	color: #fff;
}
.sw24-input-multi-search .storage .storage_item .item_delete{
	display: flex;
	color: #3498db;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	font-size: 12px;
}
.sw24-input-multi-search .storage .storage_item:hover .item_delete{
	color: #fff;
}


.sw24-input-multi-search .storage .storage_item .item_delete i{
	height: 100%;
	display: flex;
	align-items: center;
}
